<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSDYV3EhAu9kMstIbzU9-rAs9ejqp5VOppSQ&usqp=CAU"
    alt=""
    height="150px"
    width="300px"
    srcset="">
  </div>

  <div class="big-card__title">
    <h1> <a href="#"> Saiu a nova versão do Angular </a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#"> ipsum dolor sit amet, consectetur adipiscing elit.
      Sed ornare suscipit vulputate. Curabitur nibh risus, gravida ac luctus sed,
       rhoncus id eros. Duis pretium orci non urna lobortis, sed ornare tellus accumsan.
        Phasellus pellentesque lectus orci, id maximus sem vestibulum sed.
        Nam et sem bibendum, gravida leo vel, molestie libero.
      </a>
       </p>
  </div>
</div>
